body {
  background-image: linear-gradient(to right, rgba(236, 236, 236, 0.219),rgba(116, 103, 81, 0.336));
}

.form {
  margin: 0 auto;
  width: 500px;
  top: 80px;
  position: relative;
  box-shadow: 3px 3px 3px 3px rgba(84, 47, 99, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(92, 11, 185);
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
}
h1 {
  color: rgba(11, 10, 117, 0.74);
  text-transform: uppercase;
}
.form_username {
  margin: 10px 0 20px 0;

}
input {
  height: 2.5rem;
  width: 18rem;
  border-radius: 5px;
  border: 1px solid rgba(78, 34, 161, 0.568);
}
input::placeholder {
  padding-left: 5px;
  text-transform: capitalize;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.541);
}
input:focus {
   outline: none;
   border-bottom: 2px solid purple;
}
.form_password {
  margin-bottom: 20px;
}

.form-btn {
  height: 40px;
  width: 8rem;
  font-size: larger;
  border-radius: 5px;
  border: none;
  background-color: rgba(17, 0, 255, 0.685);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.788);
  cursor: pointer;
  color: white;
}

.check-box {
  height: 40px;
  width: 20px;
  position: absolute;
  margin-left: -20px;
}